/* General styles for the entire panel */
body {
    font-family: 'Arial', sans-serif; 
    margin: 0;
    padding: 10px;
    background-color: #2b2a27;
    color: #E0E0E0; 
    font-size: 14px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #E0E0E0; 
    font-size: 12px;
    padding: 0 5px;
}

.top-bar span {
    cursor: pointer;
    color: #E0E0E0; 
}

.top-bar span:hover {
    color: #4CAF50; 
}

.container {
    background-color: #393937bf; 
    border-radius: 4px;
}

.info-text {
    color: #E0E0E0; 
    margin-bottom: 20px;
    line-height: 1.4;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #CCCCCC; 
}

input[type="password"],
textarea {
    width: calc(100% - 16px);
    padding: 8px;
    border: 1px solid #444; 
    border-radius: 4px;
    font-size: 14px;
    background-color:#2b2a27; 
    color: #E0E0E0;
}

textarea {
    resize: vertical;
    border-radius: 4px;
    border: 1px solid #444; 
    font-size: 14px;
    font-family: 'Arial', sans-serif; 
}

button {
    background-color: #4CAF50; 
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover:not(:disabled) {
    background-color: #45a049;
}

button:disabled {
    background-color: #666666; 
    cursor: not-allowed;
}

.query-item {
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #444;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

.query-text {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    color: #E0E0E0;
}

.response-container {
    background-color: #2E2E2E;
    border: 1px solid #444;
    border-radius: 4px;
    overflow: hidden;
}

.response-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    background-color: #333333;
    border-bottom: 1px solid #444;
}

.response-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    transition: all 0.3s ease-out;
    max-height: 20px;
    color: #E0E0E0;
}

.response-content.expanded {
    white-space: pre-wrap;
    max-height: none;
}

.copy-icon {
    cursor: pointer;
    font-size: 12px;
    color: #CCCCCC; 
}

.copy-icon:hover {
    color: #4CAF50; 
}

.expand-tab {
    text-align: center;
    padding: 5px;
    background-color: #333333;
    cursor: pointer;
    transition: background-color 0.3s;
    border-top: 1px solid #444;
    color: #E0E0E0;
}

.expand-tab:hover {
    background-color: #444444;
}

.expand-tab span {
    margin-right: 5px;
}

.new-query-input {
    background-color: #393937bf;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

.submit-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.new-query-btn-disabled {
    cursor: not-allowed;
}

.new-query-btn-disabled:hover {
    color: grey !important;
    cursor: not-allowed;
}

.settings-box {
    background-color: #393937bf;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.);
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #CCCCCC;
}

/* .input-group input[type="password"],
.input-group textarea {
    width: calc(100% - 16px);
    padding: 8px;
    border: 1px solid #444;
    border-radius: 4px;
    font-size: 14px;
    background-color: #2E2E2E;
    color: #E0E0E0;
}

textarea {
    resize: vertical;
} */

button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}

button:hover:not(:disabled) {
    background-color: #45a049;
}

button:disabled {
    background-color: #666666;
    cursor: not-allowed;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-left: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.progress-indicator {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.progress-step {
    font-size: 12px;
    color: #CCCCCC; 
    margin-bottom: 5px;
}

.progress-step i {
    margin-right: 8px;
}

.completed i {
    color: green;
}

.progress-step.completed {
    color: #4CAF50;
}

.footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    color: #555;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .heart {
    color: #555;
  }

  .footer a {
    color: inherit; 
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #727272;
  }